# Ambientes virtuais
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Cache de ferramentas
.ruff_cache/
.pytest_cache/
